@model IEnumerable<IdNameCurStreakDate>

@{
    ViewData["Title"] = "My Habits";
}

<center>
    <a asp-action="add" asp-controller="habit" type="button" class="btn btn-primary btn-lg">
        Add New Habit
    </a>
</center>
<br />
<h2><strong>My Habits</strong></h2>
<body style="background-color:#f5f5fd ">
        @foreach (var item in Model)
        {

        <div style=" background-color: #ffc56d; border-radius: 10px; padding: 10px; position: relative;">
            <a asp-controller="Habit" asp-action="Details" asp-route-id="@item.Id">
                <span style="font-size:xx-large; font-weight:600">@item.Name</span>
                <br />
                <strong>@(item.CurStreakPeriod.Days)d @(item.CurStreakPeriod.Hours)h @(item.CurStreakPeriod.Minutes)m</strong>
            </a>
            <div class="dropdown-center position-absolute top-0 end-0">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-action="edit" asp-route-id="@item.Id">Edit</a></li>
                    <li><a style="color:red" class="dropdown-item" asp-action="delete" asp-route-id="@item.Id">Delete</a></li>
                </ul>
            </div>
        </div>

            
            <br />
        }

</body>


