@model IEnumerable<IdNameCurStreakDate>

@{
    ViewData["Title"] = "My Habits";
}

<center>
    <a asp-action="add" asp-controller="habit" type="button" class="btn btn-primary btn-lg">
        Add New Habit
    </a>
</center>
<br />
<h2><strong>My Habits</strong></h2>
<body style="background-color:#f5f5fd ">
        @foreach (var item in Model)
        {
            <a asp-controller="Habit" asp-action="Details" asp-route-id="@item.Id">
                <div style="background-color: #fdf247; border-radius: 10px; padding: 10px;">
                    <h3>@item.Name</h3>
                    <strong>@(item.CurStreakPeriod.Days)d @(item.CurStreakPeriod.Hours)h @(item.CurStreakPeriod.Minutes)m</strong>
                </div>
            </a>

            <br />
        }

</body>


